@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

* {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic",
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
/* Container */

.container {
  width: 100%;
  max-width: 1920px;
  margin: 16px 0 32px 0; /* 상하좌우 margin을 32px로 설정하고 중앙 정렬 */
  padding-left: 25%; /* 창 너비의 25%를 패딩으로 설정 */
  padding-right: 25%; /* 창 너비의 25%를 패딩으로 설정 */
  box-sizing: border-box;
  scroll-snap-align: start; /* 스크롤 스냅 포인트 설정 */
}

@media (max-width: 1600px) {
  .container {
    padding-left: 10%; /* 작은 화면에서는 패딩 제거 */
    padding-right: 10%; /* 작은 화면에서는 패딩 제거 */
  }
}

.container_content {
  width: fit-content;
  height: fit-content;
  padding: 0 16px 0 16px; /* 좌우 padding을 16px로 설정 */
  animation: fadeIn 2s 1 forwards;
}

.container_card {
  width: 100%;
  max-width: 360px;
  margin: 16px auto;
}

@media (max-width: 1600px) {
  .container_divide .container_card {
    max-width: 80%;
  }
}

.container_divide {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  animation: fadeIn 2s 1 forwards;
}

.container_divide .container_card {
  width: 100%;
  flex: 1 1 calc(50% - 32px); /* 2열 배치, 16px 간격을 감안하여 너비 설정 */
  margin: 0 16px 0 16px; /* 좌우 margin을 16px로 설정 */
}

@media (max-width: 700px) {
  .container_divide {
    padding-left: 0; /* 작은 화면에서는 패딩 제거 */
    padding-right: 0; /* 작은 화면에서는 패딩 제거 */
    flex-direction: column; /* 세로 방향으로 배치 */
  }
}

.img_background_container {
  position: relative;
}

/* Scroll Container */
.container_scroll {
  scroll-snap-type: y mandatory; /* 세로 방향 스크롤 스냅 설정 */
  overflow-y: scroll;
  height: 100vh;
  position: relative;
}

/* Fade in/out effect */
.container_scroll::before,
.container_scroll::after {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  height: 15%;
  pointer-events: none; /* 포인터 이벤트를 무시하여 투명한 영역이 클릭되지 않도록 함 */
  z-index: 1;
}

.container_scroll::before {
  top: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

.container_scroll::after {
  bottom: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

/* Text */

.text_xl {
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
  font-weight: 700; /* Bold */
}

.text_l {
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  font-weight: 700; /* Bold */
  color: #20c4f4;
}

.text_m {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  font-weight: 600; /* Bold */
  color: #0067ac;
}

.text_s {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
  font-weight: 500; /* Bold */
}

.img_profile {
  width: 100%; /* 이미지가 부모 요소의 너비에 맞게 조절됨 */
  max-width: 10vw; /* 최대 너비를 15vw로 설정 */
  aspect-ratio: 3 / 4; /* 비율을 3:4로 설정 */
  object-fit: cover; /* 이미지가 비율을 유지하면서 전체 영역을 채우도록 설정 */
  position: absolute;
  top: 100%;
  left: 15%;
  transform: translateY(-50%);
  border-radius: 10%;
}

@media (max-width: 1600px) {
  .img_profile {
    position: absolute;
    top: 100%;
    left: 85%;
    transform: translateY(-50%);
  }
}

.img_tech {
  height: 1.25rem; /* 높이를 16px로 설정 */
  width: auto; /* 너비를 이미지 비율에 맞게 자동 조정 */
  display: block; /* 블록 요소로 설정하여 높이와 너비가 적용되도록 함 */
}

.img_card {
  width: 100%; /* 너비를 부모 요소의 너비에 맞게 설정 */
  height: 60%; /* 높이를 부모 요소 높이의 60%로 설정 */
  object-fit: cover; /* 이미지가 비율을 유지하면서 전체 영역을 채우도록 설정 */
}

.img_background {
  width: 100vw; /* 너비를 뷰포트 너비의 100%로 설정 */
  height: 30vw; /* 높이를 뷰포트 너비의 30%로 설정 */
  object-fit: cover; /* 이미지가 비율을 유지하면서 전체 영역을 채우도록 설정 */
  position: relative; /* 포지션을 상대적으로 설정 */
}

.line {
  width: 100%; /* 너비를 부모 요소의 너비에 맞게 설정 */
  height: 1px; /* 높이를 1px로 설정 */
  background: #e0e0e0; /* 배경색을 회색으로 설정 */
  margin: 16px 0; /* 상하 margin을 16px로 설정 */
}

.dot {
  color: #000;
}

li {
  display: flex;
  align-items: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
